<!-- #region advertisement -->
<section id="advertisement">
  <div class="container advertisement-container">
    <div class="advertisement-section">
      <p class="advertisement">
        Choose <span class="advertisement-story">your story</span>, making every
        moment unique. Time is your style, and we reveal it.
      </p>
      <button
        class="advertisement-contacts-us"
        onclick="document.location='#contact'"
      >
        Contact Us
      </button>
    </div>
  </div>
</section>

<!-- #endregion advertisement -->
