<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>

    <ul class="catalog-group">
      <!--Card 1-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/catalog/card1-desk.jpg    1x,
                ./img/catalog/card1-desk@2x.jpg 2x
              "
              width="304"
            />
            <source
              media="(min-width: 768px)"
              srcset="

                ./img/catalog/card1-tab.jpg    1x,
                ./img/catalog/card1-tab@2x.jpg 2x
              "
              width="280"
            />
            <source
              media="(max-width: 767px)"
              srcset="

                ./img/catalog/card1-mob.jpg    1x,
                ./img/catalog/card1-mob@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card1-desk.jpg"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <!--Card 2-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"

              srcset="
                ./img/catalog/card2-desk.jpg    1x,
                ./img/catalog/card2-desk@2x.jpg 2x
              "
              width="304"
            />
            <source
              media="(min-width: 768px)"

              srcset="
                ./img/catalog/card2-tab.jpg    1x,
                ./img/catalog/card2-tab@2x.jpg 2x
              "
              width="280"
            />
            <source
              media="(max-width: 767px)"

              srcset="
                ./img/catalog/card2-mob.jpg    1x,
                ./img/catalog/card2-mob@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card2-desk.jpg"

              alt="Garmin Marq Athlete"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <!--Card 3-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"

              srcset="
                ./img/catalog/card3-desk.jpg    1x,
                ./img/catalog/card3-desk@2x.jpg 2x
              "
              width="304"
            />
            <source
              media="(min-width: 768px)"

              srcset="
                ./img/catalog/card3-tab.jpg    1x,
                ./img/catalog/card3-tab@2x.jpg 2x
              "

              width="280"
            />
            <source
              media="(max-width: 767px)"

              srcset="
                ./img/catalog/card3-mob.jpg    1x,
                ./img/catalog/card3-mob@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card3-desk.jpg"

              alt="Garmin Descent MK1"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <!--Card 4-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"

              srcset="
                ./img/catalog/card4-desk.jpg    1x,
                ./img/catalog/card4-desk@2x.jpg 2x
              "

              width="304"
            />
            <source
              media="(min-width: 768px)"

              srcset="
                ./img/catalog/card4-tab.jpg    1x,
                ./img/catalog/card4-tab@2x.jpg 2x
              "

              width="280"
            />
            <source
              media="(max-width: 767px)"

              srcset="
                ./img/catalog/card4-mob.jpg    1x,
                ./img/catalog/card4-mob@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card4-desk.jpg"

              alt="Garmin D2 Delta PX"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>

      <!--Card 5-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"

              srcset="
                ./img/catalog/card5-desk.jpg    1x,
                ./img/catalog/card5-desk@2x.jpg 2x
              "

              width="304"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/catalog/card5-tab.jpg    1x,
                ./img/catalog/card5-tab@2x.jpg 2x
              "

              width="280"
            />
            <source
              media="(max-width: 767px)"

              srcset="
                ./img/catalog/card5-tab.jpg    1x,
                ./img/catalog/card5-tab@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card5-desk.jpg"

              alt="Garmin Fenix 6 Pro Solar"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <!--Card 6-->
      <li class="catalog-list">
        <div class="img-sumb">
          <picture>
            <source
              media="(min-width: 1280px)"

              srcset="
                ./img/catalog/card6-desk.jpg    1x,
                ./img/catalog/card6-desk@2x.jpg 2x
              "

              width="304"
            />
            <source
              media="(min-width: 768px)"

              srcset="
                ./img/catalog/card6-tab.jpg    1x,
                ./img/catalog/card6-tab@2x.jpg 2x
              "
              width="280"
            />
            <source
              media="(max-width: 767px)"

              srcset="
                ./img/catalog/card6-tab.jpg    1x,
                ./img/catalog/card6-tab@2x.jpg 2x
              "
              width="279"
            />
            <img
              class="catalog-img"

              src="./img/catalog/card6-desk.jpg"

              alt="Tube Watch S42 Date Steel With Black Case"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-card">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <!--button-->
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
