<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-div-head">
        <div class="footer-div-logo">
          <p class="footer-logo">watchcharm</p>
          <ul class="social-footer">
            <li class="socialf-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="socialf-link"
                target="_blank"
                ><svg class="socialf-icon" width="18" height="18">
                  <use href="./img/social.svg#n-facebook-light"></use></svg
              ></a>
            </li>
            <li class="socialf-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="socialf-link"
                target="_blank"
                ><svg class="socialf-icon" width="18" height="18">
                  <use href="./img/social.svg#n-instagram-light"></use></svg
              ></a>
            </li>
            <li class="socialf-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="socialf-link"
                target="_blank"
                ><svg class="socialf-icon" width="18" height="18">
                  <use href="./img/social.svg#n-tube-light"></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <address class="footer-phon">
          <a class="phon-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
      </div>
      <p class="footer-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>

      <div class="menuf-div">
        <ul class="menuf-list">
          <li class="menuf-item">
            <a class="menuf-link" href="#hero">Home</a>
          </li>
          <li class="menuf-item">
            <a class="menuf-link" href="#about">About Us</a>
          </li>
          <li class="menuf-item">
            <a class="menuf-link" href="#catalog">Catalog</a>
          </li>
          <li class="menuf-item">
            <a class="menuf-link" href="#sale">Sale</a>
          </li>
          <li class="menuf-item">
            <a class="menuf-link" href="#reviews">Reviews</a>
          </li>
          <li class="menuf-item">
            <a class="menuf-link" href="#contact">Contact Us</a>
          </li>
        </ul>
        <a
          class="address-footer"
          href="https://maps.app.goo.gl/jxzWJGzpxqhuEuEm8"
          target="_blank"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </div>
      <div class="footer-policy">
        <p class="footer-rights">
          <span>&#169;</span>2023 The Watch Spot. All rights reserved.
        </p>
        <ul class="terms-list">
          <li class="terms-item">
            <a class="terms-link" href="#" target="_blank">Terms of Service</a>
          </li>
          <li class="terms-item">
            <a class="terms-link" href="#" target="_blank">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
