<section class="container hero" id="hero">
  <div class="hero-container">
    <div class="title-box">
      <h1 class="title">
        Welcome to our <span class="blue-word">collection</span> of premium
        watches
      </h1>
      <p class="text-hero">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>

    <div class="peeple-cont">
      <ul class="peeple-list">
        <li class="peeple-img">
          <picture class="persone">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/hero/d-person-1.jpg    1x,
                ./img/hero/d-person-1-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/t-person-1.jpg    1x,
                ./img/hero/t-person-1-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./img/hero/m-person-1.jpg    1x,
                ./img/hero/m-person-1-2x.jpg 2x
              "
            />
            <img src="./img/hero/d-person-1.jpg" alt="Victoria Romashenko" />
          </picture>
        </li>

        <li class="peeple-img">
          <picture class="persone">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/hero/d-person-2.jpg    1x,
                ./img/hero/d-person-2-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/t-person-2.jpg    1x,
                ./img/hero/t-person-2-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./img/hero/m-person-2.jpg    1x,
                ./img/hero/m-person-2-2x.jpg 2x
              "
            />
            <img src="./img/hero/d-person-2.jpg" alt="John Wax" />
          </picture>
        </li>

        <li class="peeple-img">
          <picture class="persone">
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/hero/d-person-3.jpg    1x,
                ./img/hero/d-person-3-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero/t-person-3.jpg    1x,
                ./img/hero/t-person-3-2x.jpg 2x
              "
            />
            <source
              media="(max-width: 768px)"
              srcset="
                ./img/hero/m-person-3.jpg    1x,
                ./img/hero/m-person-3-2x.jpg 2x
              "
            />
            <img src="../img/hero/d-person-3.jpg" alt="Anastasia Trachuk" />
          </picture>
        </li>
      </ul>
      <a class="scroll" href="#footer">Scroll down</a>
    </div>
  </div>

  <div class="hero-img"></div>
</section>
