<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-container-dec">
      <div class="sale-galery">
        <div class="sale-product">
          <ul class="sale-product-gallery">
            <li class="sale-gallery-list">
              <picture>
                <source
                  srcset="
                    ./img/sale/image-1-tab-min.jpg    1x,
                    ./img/sale/image-1-tab-2x-min.jpg 2x
                  "
                  media="(min-width:768px)" />
                <source
                  srcset="
                    ./img/sale/image-1-2x-min.jpg 1x,
                    ./img/sale/image-1-2x-min.jpg 2x
                  "
                  media="(max-width:767px)" />
                <img
                  src="./img/sale/image-1-mob-min.jpg"
                  alt="image 1"
                  class="sale-gallery-img"
                  width="132"
              /></picture>
            </li>
            <li class="sale-gallery-list">
              <picture>
                <source
                  srcset="
                    ./img/sale/image-2-tab-min.jpg    1x,
                    ./img/sale/image-2-tab-2x-min.jpg 2x
                  "
                  media="(min-width:768px)" />
                <source
                  srcset="
                    ./img/sale/image-2-2x-min.jpg 1x,
                    ./img/sale/image-2-2x-min.jpg 2x
                  "
                  media="(max-width:767px)" />
                <img
                  src="./img/sale/image-2-mob-min.jpg"
                  alt="image 2"
                  class="sale-gallery-img"
                  width="132"
              /></picture>
            </li>
            <li class="sale-gallery-list">
              <picture>
                <source
                  srcset="
                    ./img/sale/image-3-2x-min.jpg 1x,
                    ./img/sale/image-3-2x-min.jpg 2x
                  "
                  media="(max-width:767px)" />
                <source
                  srcset="
                    ./img/sale/image-3-tab-min.jpg    1x,
                    ./img/sale/image-3-tab-2x-min.jpg 2x
                  "
                  media="(min-width:768px)" />
                <img
                  src="./img/sale/image-3-mob-min.jpg"
                  alt="image 3"
                  class="sale-gallery-img"
                  width="132"
              /></picture>
            </li>
            <li class="sale-gallery-list">
              <picture>
                <source
                  srcset="
                    ./img/sale/image-4-2x-min.jpg 1x,
                    ./img/sale/image-4-2x-min.jpg 2x
                  "
                  media="(max-width:767px)" />
                <source
                  srcset="
                    ./img/sale/image-4-tab-min.jpg    1x,
                    ./img/sale/image-4-tab-2x-min.jpg 2x
                  "
                  media="(min-width:768px)" />
                <img
                  src="./img/sale/image-4-mob-min.jpg"
                  alt="image 4"
                  class="sale-gallery-img"
                  width="132"
              /></picture>
            </li>
          </ul>
        </div>
        <div class="sale-product-main">
          <picture>
            <source
              srcset="
                ./img/sale/main-clock-mob-2x-min.jpg 1x,
                ./img/sale/main-clock-mob-2x-min.jpg 2x
              "
              media="(max-width:767px)"
            />
            <source
              srcset="
                ./img/sale/image-clock-tab-min.jpg 1x,
                ./img/sale/image-clock-tab-min.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale/image-clock-dec.jpg 1x,
                ./img/sale/image-clock-dec.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <img
              src="./img/sale/main-clock-mob-min.jpg"
              alt="Main Watch Image"
              class="sale-img"
              width="328"
            />
          </picture>
        </div>
      </div>
      <div class="sale-product-info">
        <h3 class="title-product-info">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <div class="sale-price">
          <p class="sale-new-price">€1500</p>
          <p class="sale-old-price">€3000</p>
        </div>
        <p class="sale-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-tags">
          <li class="sale-tag">
            <p class="sale-tag-name">Fused carbon fiber</p>
          </li>
          <li class="sale-tag">
            <p class="sale-tag-name">Grade-5 Titanuim</p>
          </li>
          <li class="sale-tag"><p class="sale-tag-name">Athlete</p></li>
          <li class="sale-tag"><p class="sale-tag-name">Golfer</p></li>
          <li class="sale-tag"><p class="sale-tag-name">Commander</p></li>
          <li class="sale-tag"><p class="sale-tag-name">Adventurer</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
