<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-product">
      <ul class="sale-product-gallery">
        <li class="sale-gallery-list">
          <picture
            ><img src="../img/sale/image-1-mob-min.jpg" alt="image 1"
          /></picture>
        </li>
        <li>
          <picture
            ><img src="./img/sale/image-2-mob-min.jpg" alt="image 2" width="52"
          /></picture>
        </li>
        <li>
          <picture
            ><img src="./img/sale/image-3-mob-min.jpg" alt="image 3"
          /></picture>
        </li>
        <li>
          <picture
            ><img src="./img/sale/image-4-mob-min.jpg" alt="image 4"
          /></picture>
        </li>
      </ul>
    </div>
    <div class="sale-product-main">
      <picture>
        <img src="./img/sale/main-clock-mob-min.jpg" alt="Main Watch Image" />
      </picture>
    </div>
    <div class="sale-product-info">
      <h3 class="title-product-info">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-product-tag">Product tag: 706587</p>
      <div class="sale-price">
        <p class="sale-new-price">€1500</p>
        <p class="sale-old-price">€3000</p>
      </div>
      <p class="sale-description">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-tags">
        <li class="sale-tag"><p>Fused carbon fiber</p></li>
        <li class="sale-tag"><p>Grade-5 Titanuim</p></li>
        <li class="sale-tag"><p>Athlete</p></li>
        <li class="sale-tag"><p>Golfer</p></li>
        <li class="sale-tag"><p>Commander</p></li>
        <li class="sale-tag"><p>Adventurer</p></li>
      </ul>
    </div>
  </div>
</section>
