@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Regular.eot');
  src: local('../font/Gilroy Regular'), local('../font/Gilroy-Regular'),
    url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff'),
    url('Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Bold.eot');
  src: local('../font/Gilroy Bold'), local('../font/Gilroy-Bold'),
    url('font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/Gilroy-Bold.woff2') format('woff2'),
    url('font/Gilroy-Bold.woff') format('woff'),
    url('font/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Semibold.eot');
  src: local('../font/Gilroy Semibold'), local('../font/Gilroy-Semibold'),
    url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Semibold.woff2') format('woff2'),
    url('Gilroy-Semibold.woff') format('woff'),
    url('Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Medium.eot');
  src: local('../font/Gilroy Medium'), local('../font/Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
