* {
  font-family: inherit;
}
.header {
  padding: 20px 0;
  height: 74px;

  margin: 0;
  margin-bottom: 60px;

  border-bottom: 1px #0c0c0c;
  box-shadow: 0 2px 0.1px rgba(12, 12, 12, 0.1);
  font-family: 'gilroy', sans-serif;
}
.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.nav-list,
.social-list {
  display: none;
}
.mob-menu {
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 999;

  background-image: url('../img/mob-menu/watch-bg-mob@1x.jpg'),
    linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92));

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 200px;
  height: 812px;
  margin: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mob-menu {
    background-image: url(../img/mob-menu/watch-bg-mob@2x.jpg),
      linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92));
  }
}
.mob-menu.is-open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.mob-menu-open-btn {
  background-color: transparent;
  border: none;
}
.mob-menu-open-icon {
  fill: #0c0c0c;
  width: 34px;
  height: 34px;
}
.container.mob-menu-container {
  position: relative;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 812px;
}
.mob-menu-close-btn {
  display: block;
  position: absolute;

  margin-left: auto;
  top: 20px;
  right: 70px;
  border: none;
  background-color: transparent;
}
.mob-menu-close-icon {
  fill: #fff;
  width: 40px;
  height: 40px;
}
.mob-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mob-nav {
  margin-bottom: auto;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 240px;
}
.mob-nav-link.current {
  position: relative;
}
.mob-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}
.mob-nav-link.current::after {
  content: '';
  display: inline-flex;
  border-radius: 100%;
  background-color: #3350e9;
  position: absolute;
  bottom: -12px;
  left: 40%;
  width: 8px;
  height: 8px;
}
.mob-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 122px;
}
.mob-social-item {
  width: 34px;
  height: 34px;
}
.mob-social-link {
  display: inline-block;
  border: 1px solid rgba(251, 251, 251, 0.1);

  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-icon {
  fill: #fbfbfb;
  position: absolute;
  opacity: 0.8;
}

/* .mob-social-link:hover > .mob-social-icon, .mob-social-link:focus > .mob-social-icon {

} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    padding: 26px 0;
    height: 92px;
    margin-bottom: 80px;
  }
  .nav-logo {
    font-size: 20px;
  }
  .mob-menu-open-icon {
    width: 40px;
    height: 40px;
  }
  .mob-menu-close-btn {
    top: 26px;
    right: 252px;
  }
  .mob-menu {
    background-image: url(../img/mob-menu/watch-bg-tab@1x.jpg),
      linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92));
    width: 330px;
    height: 1024px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .mob-menu {
      background-image: url(../img/mob-menu/watch-bg-tab@2x.jpg),
        linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92));
    }
  }

  .mob-social-item {
    width: 36px;
    height: 36px;
  }

  .mob-social-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .header {
    height: 88px;
  }
  .mob-menu,
  .mob-menu-open-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* margin-right: 203px; */
  }
  .social-list {
    display: flex;
    gap: 10px;
  }
  .nav {
    display: flex;
    gap: 203px;
  }
  .nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    display: inline-flex;
    border-radius: 100%;
    background-color: #3350e9;
    position: absolute;
    bottom: -12px;
    left: 40%;
    width: 8px;
    height: 8px;
  }
  .social-item {
    width: 36px;
    height: 36px;
  }
  .social-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-icon {
    position: absolute;
    fill: #0c0c0c;
  }

  .social-link:hover > .social-icon,
  .social-link:focus > .social-icon {
    fill: #3350e9;
  }
}
