.header {
  padding: 20px 0;
  height: 74px;
  border-bottom: solid 1px rgba(12, 12, 12, 0.1);
}
.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.nav-list,
.social-list {
  display: none;
}
.mob-menu {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url('../img/mob-menu/watch-bg-mob@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .mob-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/mob-menu/watch-bg-mob@2x.jpg);
  }
}
.mob-menu.is-open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.mob-menu-open-btn {
  background-color: transparent;
  border: none;
}
.container.mob-menu-container {
  position: relative;
}
.mob-menu-close-btn {
  display: block;
  position: absolute;
  margin-left: auto;
  top: 20px;
  right: 20px;
  width: 34px;
  height: 34px;
  border: none;
  background-color: transparent;
}
.mob-menu-close-icon {
  fill: #fff;
}
.mob-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mob-nav {
  margin-bottom: auto;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 240px;
}
.mob-nav-link.current {
  position: relative;
}
.mob-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}
.mob-nav-link.current::after {
  content: '';
  display: inline-flex;
  border-radius: 100%;
  background-color: #3350e9;
  position: absolute;
  bottom: -12px;
  left: 40%;
  width: 8px;
  height: 8px;
}
.mob-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.mob-social-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}
.mob-social-icon {
  fill: #fbfbfb;
  position: absolute;
  top: 8px;
  left: 8px;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-icon:hover,
.mob-social-icon:focus {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header {
    padding: 26px 0;
    height: 92px;
  }
  .nav-logo {
    font-size: 20px;
  }
  .mob-menu-open-icon {
    width: 40px;
    height: 40px;
  }
  .mob-menu {
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url(../img/mob-menu/watch-bg-tab@1x.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .mob-menu {
      background-image: linear-gradient(
          rgba(12, 12, 12, 0.92),
          rgba(12, 12, 12, 0.92)
        ),
        url(../img/mob-menu/watch-bg-tab@2x.jpg);
    }
  }
  .mob-social-link {
    width: 36px;
    height: 36px;
  }
  .mob-social-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .header {
    height: 88px;
  }
  .mob-menu,
  .mob-menu-open-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* margin-right: 203px; */
  }
  .social-list {
    display: flex;
    gap: 10px;
  }
  .nav {
    display: flex;
    gap: 203px;
  }
  .nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
    position: relative;
  }
  .nav-link.current::after {
    content: '';
    display: inline-flex;
    border-radius: 100%;
    background-color: #3350e9;
    position: absolute;
    bottom: -12px;
    left: 40%;
    width: 8px;
    height: 8px;
  }
  .social-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
  }
  .social-icon {
    fill: #0c0c0c;
    top: 8px;
    left: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icon:hover,
  .social-icon:focus {
    fill: #3350e9;
  }
}
